{# WN Ready #}

<div class="ps-top_vpn_sidebar ps-thin_scrollbar shadow-md hover:shadow-lg transition-shadow mb-10 px-6 py-7 w-full {% if is_sticky %} sticky left-0 top-0 {% endif %} bg-white rounded-lg overflow-y-auto h-fit max-h-[calc(100vh_-_80px)] lg:hidden">
    <span class="block font-mulish font-semibold text-h4 text-dark-700">{{ title }}</span>
    {% for review in reviews %}
        <div class="mt-4 pt-4 border-t border-dark-200">
            {% if loop.first %}
                <span class="block w-fit mb-3 font-mulish text-xs text-primary-700 font-semibold py-1 px-4 rounded-md bg-[#FFECE0]">{{ __('Our #1 Pick', 'savvy') }}</span>
            {% endif %}
                {{ function( 'wp_get_attachment_image', review.meta( 'logo_sidebar' ).id, 'medium', false, { 'class': 'mb-2 w-auto h-8 object-contain' } ) | raw }}
            <div class="flex justify-start items-center mb-1 ">
                {% include 'partials/star-rating.twig' with { star_rating: utils.getStarsFromRating(review.meta('rating')), color: 'fill-yellow-700', margin: 'mx-px' } only %}  
                <span class="block font-inter ml-2 text-dark-500 font-medium text-disclosure ">{{review.meta('rating')}}/10</span>
            </div>
            <span class="block mb-4 font-mulish font-light text-disclosure text-dark-500 leading-3">{{ review.sidebar_short_description }}</span>
            {% if loop.first %}
                {% set theme = 'orange' %}
            {% else %}
                {% set theme = 'radial_grey' %}
            {% endif %}

            {% include 'partials/button.twig' with { 
                text: __('Trial Risk-Free', 'savvy'),
                full_width: true,
                href: 'https://streamingera.com/go/' ~ review.slug,
                icon: 'sc-angle-right',
                size: 'small',
                nofollow: false,
                newtab: true,
                align: 'left',
                theme: theme,
            } %}
        </div>
    {% endfor %}
</div>