{% extends "layouts/base.twig" %}

{% block content %}
    {# The subheader #}
    {% include 'partials/subheader.twig' with { title: 'Our Authors' } %}

    <section class="container mt-16">
        {% for author in authors %}  
            <div class="relative overflow-hidden flex justify-between rounded-lg shadow-md p-5 md:flex-col">
                <div class="w-[190px] flex justify-center flex-col pr-4 mr-8 border-solid border-r border-dark-100 md:pr-0 md:border-none md:mx-auto">
                    <img width="103px" height="103px" loading="lazy" decoding="async" class="w-full max-w-[103px] mx-auto object-contain rounded-full" src="{{author.avatar}}" alt="{{author.name}}" >
                    <div class="flex justify-center items-center gap-2 text-center mt-1.5">
                        {% if author.twitter %}
                            <a href="{{ author.twitter }}" target="_blank" class="group block no-underline">
                                {% include 'partials/icons.twig' with { icon : 'twitter', class : 'inline-block fill-secondary-700 w-4 h-4 group-hover:fill-primary-700' } %}
                            </a>
                        {% endif %}   
                        {% if author.linkedin %}
                            <a href="{{ author.linkedin }}" target="_blank" class="group no-underline ">
                                {% include 'partials/icons.twig' with { icon : 'linkedin', class : 'inline-block fill-primary-700 w-4 h-4 group-hover:fill-primary-700' } %}
                            </a>
                        {% endif %}
                    </div>
                    <a href="{{ author.link }}" class="text-size_18 font-medium capitalize text-secondary-700 text-center no-underline hover:text-primary-700 ">{{ author.name }}</a>
                </div>

                <div class="w-full md:mt-3">
                    <div class="text-xs text-grey-600
                    font-normal leading-7 mt-3 mb-2.5 md:text-center">{{author.description}}</div>
                    <a href="{{ author.link }}" class="group inline-flex justify-center items-center font-light no-underline hover:text-primary-700 md:w-full">More from {{author.first_name|raw}}
                        {% include 'partials/icons.twig' with {icon: 'ev-icon_angle_right', class: 'w-3.5 h-3.5 stroke-primary-400 group-hover:stroke-primary-700'} %}
                    </a>
                </div>
            </div>

        {% endfor %}
    </section>

{% endblock %}
