<section class="vv-articlescards container">
    <h2 class="">{{ fields.title }}</h2>
    <div class="flex gap-10 mt-10 md:flex-col lg:mt-5">
        {% for post in fields.posts %}
            <a class="group block relative flex-1 bg-white rounded-md transition pb-14 shadow-md hover:shadow-lg md:max-w-full lg:items-start" href="{{post.link}}">
                <img class="block w-full object-cover rounded-t-md lg:rounded-tl-md md:w-full md-h-auto" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
                <h3 class="text-size_22 text-secondary-700 font-medium pt-8 px-5">{{ post.post_title }}</h3>
                {% if post.post_excerpt %}
                    <p class="text-size_18 text-dark-600 pt-4 px-5">{{ post.post_excerpt }}</p>
                {% endif %}
                <div class="absolute bottom-4 left-0 w-full flex justify-between items-center px-5">
                    <span class="font-opensans text-size_14 text-dark-300">{{ post.date }}</span>
                    {% include 'partials/icons.twig' with { icon: 'vv-icon_arrow_right', class: 'fill-secondary-700 w-4 h-4 duration-300 -translate-x-2 group-hover:translate-x-0' } %}      
                </div>
            </a>
        {% endfor %}
    </div>   
</section>


