<section class="vv-newscards container">
    <div class="flex justify-between items-center lg:flex-col">
        {% if ( fields.title ) %}
            <h2 class="">{{ fields.title }}</h2>
        {% endif %}

        {% if ( fields.btn_text != '' )  %} 
            {% include 'partials/button.twig' with {
                theme: 'radial_gradient', 
                text: fields.btn_text,
                url: fields.btn_link,
                class: "whitespace-nowrap md:mt-4",
                } only
            %}
        {% endif %}
    </div>

    <div class="flex gap-5 mt-10 md:flex-col">
        {% for post in fields.posts %}
            <a class="group relative block flex-1 bg-white rounded-md pb-24 transition shadow-md duration-300 md:w-full hover:shadow-lg" href="{{post.link}}">
                <img class="block w-full object-cover h-32 rounded-t-md md:h-80" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
                <h3 class="px-5 pt-5 text-size_22 font-medium text-secondary-700">{{ post.post_title }}</h3>
                <div class="absolute bottom-4 left-0 w-full flex justify-between items-center px-5">
                    <span class="font-opensans text-size_14 text-dark-300">{{ post.date }}</span>
                    {% include 'partials/icons.twig' with { icon: 'vv-icon_arrow_right', class: 'fill-secondary-700 w-4 h-4 -translate-x-2 duration-300 transition group-hover:translate-x-0' } %}
                </div>
            </a>
        {% endfor %}
    </div> 
</section>
