<section class="vv-team bg-primary-600">
    <div class="container bg-primary-800 flex p-12 gap-7 rounded-lg md:flex-col md:px-10 md:gap-0">
        <div class="w-2/4 flex flex-col justify-start md:w-full">
            <h2 class="text-white">{{fields.title}}</h2>
            <p class="text-white text-size_18 my-5">{{fields.intro}}</p>

            {% include 'partials/button.twig' with {
                text:fields.btn_name,
                url: fields.btn_link,
                class: "whitespace-nowrap w-fit md:mt-10",
                } only
            %}    
        </div>
        <div class="w-2/4 grid grid-cols-2 md:mt-10 md:w-full sm:flex-col">
            {% for item in fields.items %}
                <div class="flex justify-start items-center gap-4 md:flex-col md:justify-center md:items-center md:mt-5">
                    <div class="relative w-16 h-16 bg-transparent rounded-full border border-white/50">
                        <img class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 w-12 h-12 rounded-full"src="{{ item.image.url }}">
                    </div>
                    <div class="md:mt-3">
                        <p class="font-opensans text-size_15 text-white font-semibold flex-wrap md:text-center">{{ item.name }}</p>
                        <p class="font-opensans text-size_14 text-white font-normal mt-2 flex-wrap md:text-center">{{ item.position }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>