<section class="vv-vpnproviders container">
    <div class="flex justify-between items-center lg:justify-center">
        {% if ( fields.title ) %}
            <h2>{{ fields.title }}</h2>
        {% endif %}

        {% if ( fields.btn_text != '' )  %} 
            {% include 'partials/button.twig' with {
                theme: 'radial_gradient', 
                text: fields.btn_text,
                url: fields.btn_link,
                class: "",
                } only
            %}
        {% endif %}
    </div>
    <div class="flex justify-center items-center flex-wrap gap-5 mt-10">    
        {% for item in fields.items %}
            <a href="{{item.url}}" class="relative group flex flex-col justify-center items-center flex-1 flex-grow min-w-56 min-h-52 border-2 border-primary-700 rounded-md transition hover:bg-secondary-700">
                <img class="absolute w-28 h-auto top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 group-hover:hidden" src="{{ item.image.url }}" alt="{{ item.image.alt }}">
                <span class="text-white font-medium text-size_24 text-center">{{ item.name }}</span>
                <div class="absolute top-0 left-0 w-fit bg-primary-700 py-1 px-2 rounded-br-md">
                    <span class="block font-opensans font-normal text-size_14 text-white">{{ item.title }}</span>
                    <span class="block font-opensans font-semibold text-size_17 text-white">{{ item.description }}</span>
                </div>
                <div class="absolute w-12 h-12 top-0 right-0 flex justify-center items-center bg-primary-700 rounded-bl-md">
                    <span class="font-opensans font-bold text-size_20 text-white">{{ item.score }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
</section>