{% set theme = theme ?? 'default' %}

{% if theme == 'radial_gradient' %}
    <a class="border-2 border-secondary-700 rounded-full text-secondary-700 font-oswald text-size_18 px-5 py-1 no-underline text-center hover:no-underline hover:bg-secondary-700 hover:text-white {{class}}" href="{{url}}">{{ text }}</a>
{% elseif theme == 'radial_gradient_svg' %}
    <div class="flex items-center {{class}}">
        <a role="button" href="{{url}}" class="group min-w-[180px] p-0.5 bg-gradient-to-r from-primary-700 to-secondary-800 rounded-full no-underline hover:bg-gradient-to-r hover:to-primary-700" >
            <div class="flex justify-center items-center p-2 w-full h-auto bg-primary-600 rounded-full font-msr text-size_17 font-semibold text-primary-700 text-center group-hover:text-primary-400">
                <div class="bg-gradient-to-r from-primary-700 to-secondary-800 bg-clip-text text-transparent pr-1 group-hover:to-primary-700 ">{{ text }}</div>
                {% include 'partials/icons.twig' with { icon: 'vv-icon_arrow_up', class: 'fill-secondary-800 w-[14px] h-auto transform rotate-90 pl-1 duration-700 group-hover:fill-primary-700' } %}
            </div>
        </a>    
    </div>
{% else %}
    <a class="text-primary-700 bg-assent-700 rounded-full py-3 px-7 font-oswald text-size_19 font-medium cursor-pointer no-underline text-center hover:no-underline hover:bg-primary-700 hover:text-white {{class}}" href="{{url}}" role="button">{{text}}</a>
{% endif %}
