<footer class="vv-footer mt-20">
    <div class=" bg-primary-800">
        <div class="container flex flex-col justify-center item-center gap-5 py-16">
            <h3 class="text-center text-white font-semibold">Looking for a VPN?</h3>
            <p class="text-white text-size_18 font-normal text-center w-2/5 mr-auto ml-auto md:text-size_18 md:w-full">Take a look at our overview of the most trustworthy, fast, and safe VPN services. Extensively tested by our experts.</p>
            {% include 'partials/button.twig' with { 
                text: 'Find the Best VPN for you!',
                url: '#',
                class: "mx-auto w-fit mt-5",
                } only
            %}
        </div>
    </div>

    <div class="container grid grid-cols-5 py-14 md:grid-cols-1 md:gap-10">
        <div>
            <img width="170px" height="38px" src="/app/themes/savvy-child/assets/svg/vv-logo-dark-2.svg" alt='VPNVerity Logo'>
        </div>
        <div class="flex flex-col gap-4"> 
            <p class="font-roboto font-semibold text-dark-700 text-size_19">{{ footer_menu_1.name }}</p>
            <nav itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                <ul class="flex flex-col md:gap-3">
                    {% for list in footer_menu_1.get_items %}
                        <li class="mt-5">
                            <a href="#" class="text-secondary-700 text-size_16 font-medium cursor-pointer transition duration-700 hover:text-decoration-2 hover:text-primary-700">{{list}}</a>
                        </li>
                    {% endfor %}    
                </ul>
            </nav>
        </div>
        <div class="flex flex-col gap-4 md:hidden">
            <p class="font-roboto font-semibold text-dark-700 text-size_18 whitespace-nowrap">{{ footer_menu_2.name }}</p>
            <nav itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                <ul class="flex flex-col  md:gap-3">
                    {% for list in footer_menu_2.get_items %}
                        <li class="mt-5">
                            <a href="#" class="text-secondary-700 text-size_16 whitespace-nowrap font-medium cursor-pointer decoration-2 hover:text-primary-700 transition duration-300 hover:duration-300">{{list}}</a>    
                        </li>
                    {% endfor %}   
                </ul>
            </nav>
        </div>
        <div class="flex flex-col gap-4 sm:hidden">
            <p class="font-roboto font-semibold text-dark-700 text-size_18">{{ footer_menu_3.name }}</p>
            <nav itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                <ul class="flex flex-col md:gap-3">
                {% for list in footer_menu_3.get_items %}
                    <li class="mt-5">
                        <a href="#" class="text-secondary-700 text-size_16 font-medium cursor-pointer hover:text-primary-700 transition duration-300 hover:duration-300">{{list}}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="flex flex-col gap-4">
            <p class="font-roboto font-semibold text-dark-700 text-size_18 ">{{ footer_menu_4.name }}</p>
            <nav itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                <ul class="flex flex-col md:gap-3">
                {% for list in footer_menu_4.get_items %}
                    <li class="mt-5">
                        <a href="#" class="text-secondary-700 text-size_16 font-medium cursor-pointer hover:text-primary-700 transition duration-300 hover:duration-300">{{list}}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</footer>
