{% extends "layouts/base.twig" %}

{% block content %}

    {# Subheader #}
    {% include "partials/subheader.twig" with { show_author_and_date: true, title: post.title } %}

    {# Post Content #}
    <div class="container flex justify-between gap-4 mt-8">
        <article class="vv-post flex-shrink-0 w-9/12 mr-3.5 lg:w-full lg:mr-0">

            {# Post Content #}
            <div class="savvy-post_content ev-post_content mb-14">
                {% if post.meta('intro') %}    
                    <div class="ev-postmeta p-5 bg-dark-200 rounded-lg">
                        {{ post.meta('intro') | raw }}
                    </div>
                {% endif %}

                {% set featured_img_tag = function('get_the_post_thumbnail', post.id, 'sc-post-main', { 'class': 'w-full h-96 rounded-xl object-cover shadow-lg' } )|raw %}
                {% if ( fields.featured_img_tag != 'featured_img_tag' )  %} 
                    <figure class="mb-4">
                        {{ featured_img_tag }}
                        <figcaption>{{ function('get_the_post_thumbnail_caption', post.id) }}</figcaption>
                    </figure>
                 {% endif  %}

                {{post.content|raw}}
            </div>

            <div class="savvy_lrc_last_sections">
                {# Warning - Do not remove the html comment below #}
                <!--savvy_lrc_last_sections-start-->

                {# Share Buttons #}
                <h3 class="mt-16">Share this article</h3>
                <div class="flex flex-wrap mt-3">
                    {% include 'partials/sharers.twig' with { post: post } %}
                </div>

                {# Aurhor #}
                <h3 class="mt-16">About the author</h3>
                <div class="mt-3">
                    {% include 'partials/author.twig' with { author: post.author } %}
                </div>

                {# Related Posts #}
                {% if related_posts is not empty %}
                    <h3 class="mt-16">Related Posts</h3>
                    {% include "partials/posts-carousel.twig" with { posts: related_posts } only %}
                {% endif %}

                {# Comments Form #}
                {# {% if post.comment_status == "open" %}
                    {% include "partials/comment-form.twig" %}  
                {% endif %} #}

                {# Comments #}
                {# {% if post.comments %}
                    {% include "partials/comment-block.twig" %}
                {% endif %} #}

                <!--savvy_lrc_last_sections-end-->
                {# Warning - Do not remove the html comment above #}
            </div>

        </article>
        <div class="w-3/12 lg:absolute">
            {{ dynamic_sidebar|raw }}
        </div>
    </div>
{% endblock %}
